<%- include("../partials/header") %>

<div style="text-align: center;" class="container">
	<h1>Edit Comment for <%= campground.name %></h1>
	
	<div style="width: 30%; margin: 20px auto">
		<form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=PUT" method="POST">
			<div class="form-group">
				<input class="form-control" type="text" placeholder="Text" name="comment[text]" value="<%= comment.text %>">
			</div>
			<div class="form-group">
				<button class="btn btn-lg btn-primary btn-block">Submit!</button>
			</div>
		</form>

		<a href="/campgrounds/<%= campground._id %>">Go Back</a>
	</div>
</div>

<%- include("../partials/footer") %>